<div fxLayout="row" fxLayoutAlign="space-around center">
    <div>
        <h1>Date Picked</h1>
        <h2>From Observable</h2>
        <p>{{ datePicked$ | async | date: 'full':'UTC' }}</p>
    </div>
</div>
<div fxLayout="row" fxLayoutAlign="space-around center">
    <mat-form-field>
        <input
            matInput
            [matDatepicker]="dp"
            placeholder="dayjs.js datepicker"
            [formControl]="datePicked"
        />
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp></mat-datepicker>
    </mat-form-field>
</div>
<dl>
    <dt>Interpolated <code>.format('MM-dd-yyyy')</code></dt>
    <dd>{{ datePicked.value.format('MM-DD-YYYY') }}</dd>
    <dt>Interpolated <code>utc().format('MM-dd-yyyy')</code></dt>
    <dd>{{ datePicked.value.utc().format('MM-DD-YYYY') }}</dd>
    <dt>Interpolated by Angular</dt>
    <dd>{{ datePicked$ | async }}</dd>
    <dt>Angular date pipe format 'medium' (displays as local time)</dt>
    <dd>{{ datePicked$ | async | date: 'medium' }}</dd>
    <dt>Angular date pipe format 'medium':'UTC' (displays as UTC)</dt>
    <dd>{{ datePicked$ | async | date: 'medium':'UTC'  }}</dd>
    <dt>As will be sent to server (dateObject.toJSON())</dt>
    <dd>{{ datePicked$ | async | json }}</dd>
</dl>
